
{% extends 'bibliocommuneBundle::home.html.twig' %}

<body>  
<!--header-->

{% block header %}
    <!--content-->
    {% block global %}
    <div class="global indent">
        <div class="container">
            <div class="row">
                <section class="error-box clearfix">
                    <article class="col-lg-6 col-md-6 col-sm-6 errorBox">
                        <figure><img src="img/error.jpg" alt=""></figure>
                    </article>
                    <article class="col-lg-6 col-md-6 col-sm-6 errorBox1">
                        <h3>Sorry!<br>Page Not Found</h3>
                        <div class="row">
                            <article class="col-lg-10 col-md-10 col-sm-10">
                                <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
                                <p>Please try using our search box below to look for information on the website.</p>
                                <form id="search-404" class="search" action="search.php" method="GET" accept-charset="utf-8">
                                    <input type="text" onfocus="if(this.value =='' ) this.value=''" onblur="if(this.value=='') this.value=''" value="" name="s">
                                    <a href="#" onClick="document.getElementById('search-404').submit()" class="btn-default btn1">search</a>
                                </form>
                            </article>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
    {% endblock %}
<!--footer-->
<footer>
    <div class="container">
        <div class="row">
            <article class="col-lg-12 col-md-12 col-sm-12">
                <p><span>Libuno</span> &copy; <em id="copyright-year"></em> | <a href="index-5.html">Privacy Policy</a></p>
                <ul>
                    <li><a href="#"><img src="img/follow_icon1.png" alt=""></a></li>
                    <li><a href="#"><img src="img/follow_icon2.png" alt=""></a></li>
                    <li><a href="#"><img src="img/follow_icon3.png" alt=""></a></li>
                    <li><a href="#"><img src="img/follow_icon4.png" alt=""></a></li>
                </ul>
            </article>
        </div>
    </div>
</footer>
<script src="js/bootstrap.min.js"></script>
<script src="js/tm-scripts.js"></script>
</body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager -->
</html>